body {
	background-color:rgba(30, 143, 255, 0.651);
	justify-content: center;
	align-items: center;
}

.ft_list {
	display: flex;
	flex-direction: column;
	background-color:rgba(30, 143, 255, 0.651);
	justify-content: center;
	align-items: center;
}

.todo {
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font: large;
	border: 1px solid blue;
	padding: 10px;
	border-collapse: separate;
	background-color:rgba(250, 128, 114, 0.76);

}
.add {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: teal;
	background-color:rgba(30, 143, 255, 0.651);
}

#add {
	font-size: 25px;
	padding: 10px 20px;
}