html {
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.navbar {
	background-color: rgba(7, 160, 114, 0.63); 
	color: bisque;
}

.navbar-brand:hover {
	color: whitesmoke; /* Change the text color */ 
	background-color: rosybrown;
}
	
.navbar-toggler {
	background-color: rgb(8, 20, 179); /* Change the color of the icon */
}


.navbar-brand {
	color: bisque; /* Change the text color */;
}


.nav-link:hover  {
	color: whitesmoke; /* Change the text color */
}
